{% extends 'base.html.twig' %}

{% block title %}Interface Admin {{ parent() }}{% endblock %}

{% block body %}

    <h1>Interface d'administration système XN Web</h1>



<section class="interface">
    <div>
        {% for contact in contacts %}
        <li>
            {{ contact.nom }} | {{ contact.email }}
            <button type="button" class="btn btn-dark">
                <a href="{{ path('admin_editContact', {'id':contact.id}) }}">Modifier</a>
            </button>
            <button type="button" class="btn btn-danger">
                <a href="{{ path('admin_deleteContact', {'id':contact.id}) }}">Supprimer</a>
            </button>
        </li>
        {% endfor %}
    </div>

    <div>
        <button type="button" class="btn btn-dark">
            <a href="{{ path('admin_newVisite') }}">Ajouter un site</a>
        </button>
    {% for visite in visites %}

        <li>
            {{ visite.titre }}
            <button type="button" class="btn btn-warning">
                <a href="{{ path('admin_editVisite', {'id':visite.id}) }}">Modifier</a>
            </button>
        </li>
    {% endfor %}
    </div>
</section>



{% endblock %}
