{% extends 'base.html.twig' %}

{% block title %}Login {{ parent() }}{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="blocLogin">
        <h2>Connectez vous à votre espace</h2>
        <form action="{{ path('login') }}" method="post" class="">
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password"/>

            {# If you want to control the URL the user is redirected to on success#}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <p>
                <button type="submit" class="btn btn-light">connexion</button>
            </p>
        </form>
    </div>
{% endblock %}
