{% extends 'base.html.twig' %}

{% block title %}Contacts {{ parent() }}{% endblock %}

{% block body %}

    {% for contact in contacts %}
    <li>
        <p>{{ contact.nom }} | {{ contact.email }}</p>
        <button type="button" class="btn btn-danger">
            <a href="{{ path('contact_editContact', {'id':contact.id}) }}">Modifier</a>
        </button>
        <button type="button" class="btn btn-danger">
            <a href="{{ path('contact_deleteContact', {'id':contact.id}) }}">Supprimer</a>
        </button>
    </li>
    {% endfor %}

{% endblock %}
