{% extends 'base.html.twig' %}

{% block title %}Visites guidées{% endblock %}

{% block body %}
    <h1>Liste des visites guidées</h1>

<div class="btn_span">

    <p>Visite par pays</p>
</div>

    {% for visite in visites %}

        <section class="section wrap">
            <div class="section__item section__item--start">
                <h3>{{ visite.titre }}</h3>
                <p>{{ visite.lieu }}</p>
                <p>{{ visite.pays }}</p>

                <p><a href="{{ path('visite_detailVisite', {'id':visite.id}) }}">plus d'info</a> </p>
            </div>

            <div class="section__item section__item--end">
                <img src="{{ asset('img/visites/'~visite.img1) }}" alt="photo {{ visite.titre }}" class="photo">
            </div>
        </section>

    {% endfor %}
{% endblock %}
